@import '../../rules/variables.scss';

.pendingAlarm {
  animation: fadein 0.8s;
  padding: 10px;
  margin-top: 10px;
  margin-left: 5px;
  background-color: $light_pink;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px rgba(255, 254, 254, 0.2);
  height: 80px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;

  &__when {
    margin: 12px 0 8px 0;
    color: $sepia;
    
    & h2 {
      font-size: 32px;
    }
  }

  .message {

    &--active {
      & p {
        font-size: 24px;
      }
    }
  }

  &__cancel {
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
  }

  &__reset {
    position: absolute;
    bottom: 10px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(255, 254, 254, 0.2);
    margin: 15px auto 0 auto;
    border: 1px solid $sepia;
    border-radius: 25px;
    padding: 12px;
    width: 130px;
    background-color: $dark_pink;
    color: white;
    transition: all .3s linear;
    cursor: pointer;
    font-style: italic;
    font-size: 16px;

    &:hover {
      background: $sepia;
      color: $dark_pink;
    }
  }
}

.middle {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 300px;
  height: 200px;
  border-radius: 25px;
  display: flex;
  justify-content: center;

  .pendingAlarm__container {
    width: 100%;
    text-align: center;
  }

  h2 {
    margin: 10px 0 15px 0;
    font-size: 42px;
  }
}
